body {
background: url(mainbackground.png);
margin: 0;
display: flex;
flex-direction: column;
align-items: center;

}

.header__container {
background: black;
width: 100%;
height: 75px;
margin: 0;
display: flex;
font-family: Arial;
}

.element__container {
color: white;
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
font-family: 'PT Sans', sans-serif;
}

.button__element {
margin-right: 28px;
}

.loginbutton__element {
align-self: flex-end;
margin-left: 256px;
margin-right: 30px;
}

.header {
display: flex;
align-content: center;
width: 100%;
}

.main__logo {
background: url(index-logo.png);
width: 371px;
height: 155px;
display: flex;
margin-top: 60px;
}

.logo__container {
display: flex;
align-items: center;
justify-content: center;
}

.subtitle__container {
color: white;
display: flex;
justify-content: center;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
}

.list__element {
list-style-type: none;
display: flex;
padding-left: 0;
text-align: center;
margin-bottom: 0;
}

.subtitle__element {
display: flex;
flex-direction: column;
align-items: center;
width: 270px;
font-size: 8pt;
padding-left: 15px;
padding-right: 15px;
line-height: 20px;
}

.content__container {
width: 940px;
height: 100%;
}

.main__list__marker {
background: url(marker.png);
width: 30px;
height: 30px;
}

.content__block {
width: 940px;
height: 420px;
background-color: rgb(249, 246, 243);
display: grid;
grid-template-columns: 350px 8px 350px;
justify-content: space-around;
margin-top: 80px;
background: url(content-block-background.png);
}

.news__block {
height: 419px;
font-family: 'PT Sans', sans-serif;
align-self: start;
}

.gallery__block {
background-color: rgb(248, 245, 242);
height: 419px;
}

.news__block__title {
margin-top: 50px;
margin-bottom: 30px;
font-size: 17pt;
font-family: 'PT Sans Narrow', sans-serif;
}

.allnews__button {
width: 140px;
height: 44px;
background-color: black;
color: white;
font-size: 10pt;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
}

.news-post {
width: 400px;
font-weight: bold;
margin: 0;
font-size: 9pt;
line-height: 14pt;
}

.news-post__date {
font-weight: bold;
margin-top: 15px;
margin-bottom: 35px;
font-size: 9pt;
}

.content-block__separator {
background: url(separator.png);
width: 8px;
height: 278px;
align-self: center;
display: flex;
}

.gallery-block__photo-preview {
background: url(gallery-preview.png);
height: 165px;
width: 286px;
border-style: solid;
border-width: 7px;
border-color: white;
}

.gallery-button__container {
width: 300px;
height: 44px;
margin-top: 40px;
display: flex;
justify-content: space-between;
}

.gallery__button {
width: 140px;
background: black;
color: white;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
font-size: 10pt;
}

.content__block2 {
width: 940px;
height: 420px;
background: url(content-block-background.png);
margin-top: 36px;
display: grid;
grid-template-columns: 350px 8px 350px;
justify-content: space-around;
}


.form-subtitle {
font-weight: bold;
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
width: 300px;
}

.contact-information {
list-style-type: none;
padding-left: 0;
font-family: 'PT Sans', sans-serif;
font-weight: bold;
font-size: 10pt;
line-height: 24px;
}

.form__container {
display: flex;
height: 150px;
width: 300px;
flex-wrap: wrap;
}

.input-field_l {
height: 31px;
width: 121px;
background-color: rgb(249, 246, 243);
border: 2px solid;
margin-right: 20px;
font-size: 10pt;
font-family: 'PT Sans', sans-serif;
color: gray;
border-color: black;
padding-left: 15px;
padding-top: 12px;
font-weight: bold;
margin-bottom: 16px;
}

.input-field {
height: 31px;
width: 121px;
background-color: rgb(249, 246, 243);
border: 2px solid;
font-size: 10pt;
font-family: 'PT Sans', sans-serif;
color: gray;
border-color: black;
padding-left: 15px;
padding-top: 12px;
font-weight: bold;
margin-bottom: 16px;
}

.input-field__title {
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
font-weight: bold;
margin-bottom: 12px;
margin-left: 17px;
}

.form__sent-button {
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
font-weight: bold;
width: 100%;
height: 44px;
background: black;
color: white;
}

footer {
width: 100%;
height: 193px;
background: url(footer.png);
margin-top: 65px;
display: flex;
justify-content: center;
}

.footer__contact-block {
width: 310px;
height: 90px;
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
font-weight: bold;
color: white;
line-height: 24px;
}

.footer__social-block {
display: flex;
height: 90px;
width: 145px;
flex-wrap: wrap;
justify-content: space-around;
align-content: flex-start;
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
font-weight: bold;
color: white;
justify-self: center;
}

.footer__vk-button {
background: url(vk.png);
height: 43px;
width: 43px;
}

.footer__fb-button {
background: url(fb.png);
height: 43px;
width: 43px;
}

.footer__ig-button {
background: url(ig.png);
height: 43px;
width: 43px;
}

.footer__social-title {
width: 140px;
text-align: center;
margin-bottom: 20px;
}

.footer__content-container {
width: 940px;
height: 100px;
display: flex;
justify-content: space-between;
margin-top: 65px;
}

.footer__developer-block {
height: 90px;
width: 145px;
margin-left: 150px;
font-family: 'PT Sans', sans-serif;
font-size: 9pt;
font-weight: bold;
color: white;
}

.developer__button {
height: 44px;
background: black;
color: white;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-content: center;
}

.developer__title {
margin-bottom: 20px;
text-align: center;
}

.map__overlay {
height: 553px;
width: 759px;
background: url(maket-map.png);
border-style: solid;
border-width: 7px;
border-color: white;
box-shadow: 0px 20px 50px 5px black;
}

.map__container {
position: absolute;
height: 560px;
width: 800px;
top: 498px;
z-index: 10;
display: flex;
}

.map__close-button {
height: 19px;
width: 19px;
background: url(cross.png);
margin-left: 13px;
}